<%=button_to "Discover Page", user_discover_path(@user), method: :get%>

<%= form_with url: "/users/#{@user.id}/movies/#{@result.id}/viewing_parties", method: :post, local: true do |form| %>
  <center>
  <table>
    <p><h3><%= form.label :movie_title , "Create a Movie Party for #{@result.title}" %></h3></p>
    <%=form.hidden_field :movie_title, :value => @result.title%>
    <tr>
    </tr>

    <tr>
      <td><p><%= form.label :duration ,"Duration of Party (needs to be greater than #{@result.runtime} minutes): " %>
      <%=form.number_field :duration, min: @result.runtime %> </p></td>
    </tr>

    <tr>
      <td><p><%= form.label :date ,"Day" %>
      <%=form.date_field :date, min: Date.today%></p></td>
    </tr>

    <tr>
      <td><p><%= form.label :time ,"Start Time" %>
      <%=form.time_field :time, order: Time.now%></p></td>
    </tr>



    <tr>
    <%=form.label :attendees, "Invite Other Users: "%>

    <p><% @users.each do |user| %>
      <% if user != @user %>
        <%= form.label :attendees, "#{user.name}" %>
        <%= form.check_box :attendees, {multiple: true}, "#{user.id}", nil %>
      <% end %>
    <% end %></p>
    </tr>

  </table>
  <p><%= form.submit "Create Party"%></p>

  </center>

<%end%>



