
<h1>Create a Movie Party for <%=@result.title%></h1>

<center><%=button_to "Discover Movies", user_discover_path(@user), method: :get%></center>

<%= form_with url: "/register", method: :post, local: true do |form| %>

  <div class="row">
    <div class="column">
      <p><%= form.label :movie_title ,"Movie title" %></p>
      <p><%= form.label :duration ,"Duration of Party" %></p>
      <p><%= form.label :date ,"Day" %></p>
      <p><%= form.label :time ,"Start Time" %></p>
    </div>
    <div class="column">
      <p><%= form.label :movie_title %> <%=  @result.title %></p>
      <p><%=form.number_field :duration,:default => @result.runtime %></p>
      <p><%=form.date_field :date, min: Date.today%></p>
      <p><%=form.time_field :time, order: Time.now%></p>
      <% end %>
    </div>
  </div>
    <center> <h2>Invite Other Users</h2></center>

    <% @users.each do |user| %>
      <center><%= form_with url: user_movie_viewing_parties_path(@user,@result.id), method: :post, local: true do |form| %>
      <%= form.check_box :user %>
      <%= form.label :user, user.email %>
      <%= form.label :user, user.name %>
    <% end %></center>
  <% end %>

<center><%=button_to "Create party",user_path(@user), method: :get %></center>
