<h1><%=@user.name%>'s Dashboard</h1>

<div id= "discover">
<%=button_to "Discover Movies", user_discover_path(@user), method: :get%>
</div>


<%@parties.each do |party| %>
  <p><%=party.movie_title %></p>
  <p><%=party.duration %> minutes</p>
  <%if party.status == "Host"%>
    <p>Hosting</p>
  <%else%>
    <p>Attending</p>
  <%end%>
  <p><h3>Attendees: </h3></p>
  <%party.users.each do |user|%>
    <%if user != @user %>
      <p><%=user.name%></p>
    <%end%>
  <%end%>


<% end %>
