<%= cookies.encrypted[:greeting]%>

<center><%=button_to"Dashboard", default_dashboard_path, method: :get %></center>

<%if current_user == nil %>
  <div class="row">
    <div class="column">
      <div id="creation">

        <center><%=button_to"Create New User","/register", method: :get %></center>
        <center><%=button_to"Log In", login_path, method: :get %></center>

      </div>
    </div>
  </div>
<%else %>
  <%= link_to "Log out", logout_path, method: :delete %>
  <div id= "all_users">
    <strong><h3>Existing Users</h3></strong>
    <%@users.each do |user|%>
    <div id= <%="existing_users-#{user.id}"%>>
      <%= user.email%>
    <%end%>
    </div>
  </div>
<%end%>